@media screen and (max-width: 767px) {
    
    .top-section {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/mobile/banner-mobile.jpg');
        max-width: 480px;
    }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .top-section {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/mobile/banner-mobile@2x.jpg');
    }
}

.top-section {
    background-color: #C4C4C4;
    padding-top: 118px;
    padding-bottom: 118px;
    background-size: cover;
    margin: 0 auto;
}

.top-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-div__title {
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 360px;
    margin-bottom: 30px;
}

.top-div__button {
    padding: 10px 24px;
}

@media screen and (min-width: 768px) {
    .top-section {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/tablet/banner-tablet.jpg');
        max-width: 768px;
    }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .top-section {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/tablet/banner-tablet@2x.jpg');
    }
}


@media screen and (min-width: 1200px) {
    .top-section {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/desktop/banner-desktop.jpg');
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .top-div__title {
        font-size: 44px;
        line-height: 1.36;
        width: 696px;
    }

    .top-div__button {
        padding: 10px 32px;
    }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .top-section {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/desktop/banner-desktop@2x.jpg');
    }
}


// .top-section {
//     background-color: #C4C4C4;
//     padding-top: 200px;
//     padding-bottom: 200px;
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/top-section.jpg');
//     background-size: cover;
//     max-width: 1600px;
//     margin: 0 auto;
// }

// .top-div {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .top-div__title {
//     color: var(--white-text-color);
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.36;
//     text-align: center;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     width: 696px;
//     margin-bottom: 30px;
// }

// .top-div__button {
//     padding: 10px 32px;
// }